



buttons {
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  background-color: rgba(45,236,232,1);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  margin: 20px;


}

buttons:hover {
  color:  rgba(45,236,232,1);
  padding: 10px 20px;
  font-weight: bold;
  background-color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 2px solid black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);


}